<% if @posts.any? %>
	<% @posts.reverse_each do |post| %>
	<article class="post-details">
		<article class="post-body">
		<% if post.url != nil %>
			<a href="http://<%=post.url%>"><h3><%=post.title%></h3></a>
		<%else%>
			<h3><%=post.title%></h3>
		<%end%>
		<p><%= link_to 'Comments', post_path(post) %>
		</p>
		</article>
		<aside class="voting-info">
		<%= link_to '▲', post_upvotes_path(post), method: :post %><br>
		<%=post.overall_votes%> <%= post.pluralize_votes %><br>
		<%= link_to '▼', post_downvotes_path(post), method: :post %>
		</aside>
		</article>

	<%end%>
<%else%>
	The internet is not confused at the moment. Are you?
<%end%>