<h2><%= @post.title %></h2>
<p><%= @post.text%></p>

<% if @post.comments.any? %>
	<% @post.comments.each do |comment| %>
		<%= comment.body %>
	<%end%>
<%end%>

<%= form_for [@post, @comment], html: {multipart: true} do |f| %>
	<p>
		<%= f.label :body %>
		<%= f.text_field :body %>
	</p>

	<p>
		<%= f.submit 'Add Comment' %>
	</p>
<% end %>