<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

     <title>Idontgeddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
	 	<p class="alert"><%= alert %></p>
		
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  		<div class="container">
				<article id = "user-management">
					<ul class="nav nav-pills">
					<% if user_signed_in? %>
						<li class ="active"><%= link_to "Sign Out", destroy_user_session_path, :method=>:delete %></li>
					<%else%>
						<li class ="active"><%= link_to "Sign Up", new_user_registration_path %></li>
						<li class ="active"><%= link_to 'Sign In', new_user_session_path %></li>
						</ul>
					<%end%>
				</article>

				<article id = "rankings">
					<ul class="nav nav-pills">
					<li class ="active">
					<%= link_to 'hot', posts_hot_path%></li> 
					<li><%= link_to 'controversial', posts_controversial_path%></li>
					<li><%= link_to 'newest', posts_newest_path%></li>
					<li><%= link_to 'rising', posts_rising_path%></li>
					<li><%= link_to 'top', posts_top_path%></li>
				</ul>
				</article>
			</div>
		</nav>

		<div class="dropdown" id="new-post">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
			New DontGeddit
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			<li role="presentation"><%= link_to "Text DontGeddit", new_post_path %></li>
			<li role="presentation"><a role="menuitem" tabindex"-1"><%= link_to "Link DontGeddit", posts_new_link_path %></a></li>
			</ul>
			</div>
		
		<article class="page-content">
		<%= yield %>
		</article>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>

